* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
}


:root {
  --light--gray: #D9E5E4;
    --dark--green:rgb(68, 197, 113);
    /* --dark--green: #5E9270; */
    --cyan: #1A2E35;
}


body{
  font-size: 1em;
  background-color: var(--dark--green);
  width: 100%;
  overflow-x: hidden;
}


.information h3 {
  color: var(--cyan) !important;
}


#green {
  color: rgb(53, 236, 53);
  font-weight: 700;
}

#c-2 {
  font-weight: 700;
  color: var(--cyan); 
}

#slider-container {
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  width: 375px;
  overflow: hidden;
}


.card {
  background-color: var(--light--gray);
  width: 145px ;
  height: 200px ; 
  border-radius: 7px;
  margin: 0 .5em;
  flex: 0 0 200px;
}

.card .information {
  display: none;
}


.card:nth-of-type(1) {
  width: 250px ;
  height: 350px ; 
  margin-left: 0;
}

.card:nth-of-type(1) .image-container >  img {
  transform: scale(1.5);
  position:relative;
  top: -12%;
}

.card:nth-of-type(1) h3, .information {
  position: relative;
  top: -25%;
  left: 5%;
}

.card:nth-of-type(1) .information {
  display: block;
  font-size: 1em;
  margin-top: 1em;
}

.Plant-04:nth-of-type(1) .image-container img {
  transform: scale(2);
}

.Plant-04:nth-of-type(1)  h3 {
  margin-top: 1em;
}

.Plant-04:nth-of-type(1)  .information {
  margin-top: 2em;
} 


.image-container >  img {
  position:relative;
  top: -34%;
}

.card header .image-container img {
  width: 50%;
}

.card h3, .information{
  position: relative;
  top: -25%;
}

 .btn:active {
  transform: scale(1.1);
}


.btn  { 
  display: block;
  z-index: 100 !important; 
}

.btn svg {
  color: #5E9270 ;
  width: 45px ;
  height: 45px;
  outline: 1px solid #fff ;
  border-radius: 100px ;

}

#btn-left {
  position: absolute;
  left: 10px;
}

#btn-left svg,  #btn-right svg{
  align-self: center;
 }

#btn-right {
    position: absolute;
  left:295px;
}

@media (min-width: 393px) {
  #slider-container {
    width: 414px;
  }
}

@media (min-width: 414px) {
    

.card {
  margin: 0 1em;
}

#btn-right {
  position: absolute;
left:350px;
}


}

@media (min-width: 800px)  {
  #slider-container {
    width:850px;
  }

  .card:nth-of-type(1) {
    min-width: 300px !important ;
    margin-left: 0;
  }

  .card:nth-of-type(1) .image-container >  img {
    transform: scale(1.5);
    position:relative;
    top: -2%;
  }

  #btn-right {
    position: absolute;
  left:720px;
  }
}

@media (min-width: 950px) {
  #slider-container {
    width:100%;
  }

  #btn-right {
    position: absolute;
  left:890px;
  }

  .Plant-04 .image-container img {
    transform: scale(2);
  }
  
  .Plant-04 h3 {
    margin-top: 3em;
  }
  
}


@media (min-width: 1024px) {
  #slider-container {
    width:100%;
  }

  #btn-right {
    position: absolute;
  left:950px;
  }

  .Plant-04 .image-container img {
    transform: scale(2);
  }
  
  .Plant-04 h3 {
    margin-top: 3em;
  }
  
  .Plant-01 .information {
    max-width: 250px;
  }

}


@media (min-width: 1280px) { 
    #slider-container {
    width:1200px;
    margin-left: 10%;
  }

  #home-information {
    position: relative;
    top: 2em;
    left: 42%;
  }

  #home-information  h1{
    max-width: 70% !important;
  }

  #btn-right {
    position: absolute;
  left:1100px;
  }



  .card {
    margin: 0 1em;
  }
  
  .card .information {
    display: none;
  }
  
  
  .card:nth-of-type(1) {
    transform: scale(1.1);
    margin-left: 0;
    margin-right: 4em;
  }

  #btn-left {
    position: absolute;
    left: 15px;
  }




  
body, #slider-container {
 
  overflow-x: hidden;
}


 
}



